<footer>
<p>
  Original theme by Phil Hawksworth can be found <a href="https://github.com/philhawksworth/eleventyone">here</a>.
</p>
<p>
  Last update {{ site.buildTime | dateDisplay('LLL d, yyyy') }}
</p>
</footer>
